@use '../../styles/sass/mixins/' as *;

:root {}

.accordion-content-block {
    padding: var(--space-24) var(--space-16);
    @include media-tablet {
        padding: var(--space-50) var(--space-24);
    }
}

.accordion-content-block__wrapper {
    @include grid-columns($columns: 1);
}

.accordion-content-block__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    margin: auto 0;
}

.accordion-item {
    .item-text {
        height: 0;
        overflow: hidden;
        transition: height 0.3s;
    }

    .items-center {
        position: relative;
        cursor: pointer;
        color: #1F3A71;

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            right: 0px;
            top: 22px;
            width: 14px;
            height: 2px;
            background-color: currentColor;
            transition: all 0.3s;
        }
        
        &::after {
            content: '';
            position: absolute;
            right: 6px;
            top: 16px;
            width: 2px;
            height: 14px;
            background-color: currentColor;
            transition: all 0.3s;
        }
    }
    
    &[aria-hidden="false"] {
        .items-center {
            &::after {
                transform: rotate(0deg);
            }

            &::before {
                transform: rotate(0deg);
            }
        }

    }
    
    
    
    &[aria-hidden='true'] {
        .items-center {
            &::after {
                transform: rotate(90deg);
            }
            &::before {
                transform: rotate(0deg);
            }
        }

        .item-text {
            height: auto;
        }
    }
}