@use '../../styles/sass/mixins/' as *;

:root {
    --hero-block-background-text: linear-gradient(135deg, #a18cd1, #fad0c4, #a18cd1, #fbc2eb, #a18cd1, #fbc2eb, #a18cd1);
    --hero-block-color-rgba-white: 255, 255, 255;
}

[data-hero-background-image="false"] {
    background: var(--hero-block-background-text);
    background-size: 400% 400%;
    animation: background-gradient-animation 32s ease infinite;
    padding-top: var(--main-header-height, 0px);

    @include media-tablet-medium {
        padding-top: 0;
    }

    .hero-block__image {
        display: none;
    }
}

[data-hero-background-image="true"] {
    background: rgb(var(--color-rgba-black));
    color: rgb(var(--hero-block-color-rgba-white));
}

.hero-block {
    display: grid;
    overflow: hidden;
    position: relative;
}

.hero-block__image,
.hero-block__content {
    max-height: 500px;
    overflow: hidden;
}

.hero-block__image {
    @include media-tablet-medium {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgb(var(--color-rgba-black), .6);
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

//
.hero-block__content {
    padding: var(--space-24) var(--space-16);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;

    @include media-tablet-medium {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        padding: var(--space-150) var(--space-24) var(--space-64);
    }

}

.hero-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);

}

.hero-block__heading {
    display: flex;
    flex-direction: column;
    gap: var(--space-24);
}

.hero-block__text-container {
    color: currentColor;
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    @include media-tablet-medium {
        gap: var(--space-24);
    }
}

.hero-block__preamble {
    @include media-tablet-medium {
        @include grid-columns($columns: 3, $gap: var(--space-32));
    }
}

.hero-block__preamble-text {
    font-size: var(--typography-bodytext-s);
    line-height: 1.5;

    @include media-tablet-medium {
        grid-column: 2 / 4;
        font-size: var(--typography-bodytext-l);
    }

    @include media-desktop-medium {
        font-size: var(--typography-bodytext-2xl);
    }
}

