@use '../../styles/sass/mixins/' as *;

:root {
    --hero-start-block-background-image: linear-gradient(0deg, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 60%) 100%);
    --hero-start-block-background-text: linear-gradient(135deg, #a18cd1, #fad0c4, #a18cd1, #fbc2eb, #a18cd1, #fbc2eb, #a18cd1);
    --swiper-navigation-color: #0A4DA6;
}

.slider-cube-control-block {
    overflow: hidden;
    .swiper {
        .swiper-pagination {
            bottom: var(--space-24);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: rgb(var(--color-rgba-beige), 0.6);
            opacity: 0.5;
            transition: all 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            background: rgb(var(--color-rgba-beige));
            opacity: 1;
            width: 16px;
            height: 16px;
        }
    }

}

.slider-hero-product-banner {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        background: #fff;
        color: #323B4B;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: var(--typography-bodytext-3xl);
        line-height: 150%;
        cursor: pointer;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .mySwiper2 {
        height: calc(100vh - 200px);
        width: 100%;
    }

    .mySwiper {
        box-sizing: border-box;
        height: 200px;

        .swiper-slide {
            width: 25%;
            height: 100%;
            transition: all .2s;
        }

        .swiper-slide-thumb-active {
            background: #E3EFF6;
        }
    }
}

.slider-product-block,
.slider-article-block,
.slider-customers-block,
.slider-testimonials-block,
.slider-sector-block,
.slider-certification-block {
    padding: var(--space-24) var(--space-16);
    @include media-tablet {
        padding: var(--space-50) var(--space-24);
    }

    .hero-block__text-container {
        color: currentColor;
        display: flex;
        flex-direction: column;
        gap: var(--space-8);

        @include media-tablet-medium {
            gap: var(--space-24);
        }
    }

    .swiper {
        padding: var(--space-80) var(--space-8) var(--space-8);
    }

    svg {
        fill: var(--swiper-navigation-color)
    }

    .swiper-button-next {
        z-index: 99;
        right: 0;
        top: var(--space-32);
        width: 50px;
        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        z-index: 99;
        left: inherit;
        right: 54px;
        top: var(--space-32);
        width: 50px;
        &::after {
            display: none;
        }
    }

    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        pointer-events: visible;
    }
}

.swiper-wrapper {
    align-items: stretch
}

.slider-customers-block,
.slider-certification-block {
    svg {
        fill: rgba(var(--color-rgba-white));
    }
}