
@mixin button-primary {
    --button-background: var(--theme-primary);
    --button-text-color: var(--theme-on-primary);
    --button-shadow-background: var(--theme-primary);
}

@mixin button-secondary {
    --button-background: var(--theme-secondary);
    --button-text-color: var(--theme-on-secondary);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-tertiary {
    --button-background: var(--theme-tertiary);
    --button-text-color: var(--theme-on-tertiary);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-info {
    --button-background: var(--theme-primary);
    --button-text-color: var(--theme-on-primary);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-success {
    --button-background: var(--theme-primary);
    --button-text-color: var(--theme-on-primary);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-accent {
    --button-background: var(--theme-accent);
    --button-text-color: var(--theme-on-accent);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-error {
    --button-background: var(--theme-error);
    --button-text-color: var(--theme-on-error);
    --button-shadow-background: var(--theme-secondary);
}

@mixin button-warning {
    --button-background: var(--theme-warning);
    --button-text-color: var(--theme-on-warning);
    --button-shadow-background: var(--theme-secondary);
}
