:root {
    --tag-font-size: var(--typography-label-s);
    --tag-text-color: var(--color-white);
    --tag-background-color: var(--color-gray-light);
    --tag-padding: var(--space-4) var(--space-8);
    --tag-primary-text-color: var(--color-white);
    --tag-primary-background-color: var(--color-brand-red);
    --tag-secondary-text-color: var(--color-white);
    --tag-secondary-background-color: var(--color-brand-green);
}

.tag {
    display: inline-block;
    background: var(--tag-background-color);
    padding: var(--tag-padding);
    color: var(--tag-text-color);
    font-size: var(--tag-font-size);

    &[data-tag-appearance='primary'] {
        background: var(--tag-primary-background-color);
        color: var(--tag-primary-text-color);
    }

    &[data-tag-appearance='secondary'] {
        background: var(--tag-secondary-background-color);
        color: var(--tag-secondary-text-color);
    }
}
