// This is the file where the themes are defined. The themes are defined using CSS custom properties. The themes are used to change.

:root {
    --theme-odyssey-background: 15,23,42;
    --theme-odyssey-color-text: 255,255,255;
}

[data-site-theme="nebula"] {
    color-scheme: dark;
    --theme-background: 15,23,42;
    --theme-background-overlay-multiplier: 1;
    --theme-primary: 52,98,227;
    --theme-primary-overlay-multiplier: 1;
    --theme-surface: 30,41,59;
    --theme-surface-overlay-multiplier: 1;
    --theme-info: 100,116,139;
    --theme-info-overlay-multiplier: 1;
    --theme-accent: 14,165,233;
    --theme-accent-overlay-multiplier: 2;
    --theme-success: 20,184,166;
    --theme-success-overlay-multiplier: 2;
    --theme-surface-light: 46,61,89;
    --theme-surface-light-overlay-multiplier: 1;
    --theme-surface-bright: 135,167,255;
    --theme-surface-bright-overlay-multiplier: 2;
    --theme-surface-variant: 51,65,85;
    --theme-surface-variant-overlay-multiplier: 1;
    --theme-on-surface-variant: 255,255,255;
    --theme-primary-darken-1: 28,45,96;
    --theme-primary-darken-1-overlay-multiplier: 1;
    --theme-secondary: 2,132,199;
    --theme-secondary-overlay-multiplier: 2;
    --theme-secondary-darken-1: 3,105,161;
    --theme-secondary-darken-1-overlay-multiplier: 1;
    --theme-error: 239,68,68;
    --theme-error-overlay-multiplier: 2;
    --theme-warning: 249,115,22;
    --theme-warning-overlay-multiplier: 2;
    --theme-on-background: 255,255,255;
    --theme-on-primary: 255,255,255;
    --theme-on-surface: 255,255,255;
    --theme-on-info: 255,255,255;
    --theme-on-accent: 255,255,255;
    --theme-on-success: 255,255,255;
    --theme-on-surface-light: 255,255,255;
    --theme-on-surface-bright: 255,255,255;
    --theme-on-primary-darken-1: 255,255,255;
    --theme-on-secondary: 255,255,255;
    --theme-on-secondary-darken-1: 255,255,255;
    --theme-on-error: 255,255,255;
    --theme-on-warning: 255,255,255;
    --border-color: 255, 255, 255;
    --theme-kbd: 30, 64, 175;
    --theme-on-kbd: 219, 234, 254;
    --theme-code: 15, 23, 42;
    --theme-on-code: 147, 197, 253;
}
