// This is the file where the themes are defined. The themes are defined using CSS custom properties. The themes are used to change.

:root {
    --theme-odyssey-background: 255,251,230;
    --theme-odyssey-color-text: 255,255,255;
}

[data-site-theme="odyssey"] {
    color-scheme: normal;
    --theme-background: 255,251,230;
    --theme-background-overlay-multiplier: 1;
    --theme-primary: 53,104,89;
    --theme-primary-overlay-multiplier: 2;
    --theme-surface: 255,251,230;
    --theme-surface-overlay-multiplier: 1;
    --theme-info: 55,150,111;
    --theme-info-overlay-multiplier: 1;
    --theme-accent: 185,228,201;
    --theme-accent-overlay-multiplier: 1;
    --theme-success: 91,180,154;
    --theme-success-overlay-multiplier: 1;
    --theme-surface-light: 149,179,160;
    --theme-surface-light-overlay-multiplier: 1;
    --theme-surface-bright: 255,255,255;
    --theme-surface-bright-overlay-multiplier: 1;
    --theme-surface-variant: 55,150,111;
    --theme-surface-variant-overlay-multiplier: 1;
    --theme-primary-darken-1: 0,204,0;
    --theme-primary-darken-1-overlay-multiplier: 1;
    --theme-secondary: 253,85,35;
    --theme-secondary-overlay-multiplier: 1;
    --theme-secondary-darken-1: 204,55,0;
    --theme-secondary-darken-1-overlay-multiplier: 2;
    --theme-error: 255,85,85;
    --theme-error-overlay-multiplier: 1;
    --theme-warning: 236,184,91;
    --theme-warning-overlay-multiplier: 1;
    --theme-on-background: 0,0,0;
    --theme-on-primary: 255,255,255;
    --theme-on-surface: 0,0,0;
    --theme-on-info: 255,255,255;
    --theme-on-accent: 0,0,0;
    --theme-on-success: 255,255,255;
    --theme-on-surface-light: 0,0,0;
    --theme-on-surface-bright: 0,0,0;
    --theme-on-surface-variant: 255,255,255;
    --theme-on-primary-darken-1: 0,0,0;
    --theme-on-secondary: 255,255,255;
    --theme-on-secondary-darken-1: 255,255,255;
    --theme-on-error: 255,255,255;
    --theme-on-warning: 0,0,0;
    --border-color: 0, 0, 0;
    --theme-kbd: 0, 0, 0;
    --theme-on-kbd: 255, 255, 255;
    --theme-code: 0, 0, 0;
    --theme-on-code: 255, 255, 255;
}
