// This is the file where the themes are defined. The themes are defined using CSS custom properties. The themes are used to change.

:root {
    --theme-polaris-background: 31,10,13;
    --theme-polaris-color-text: 255,255,255;
}

[data-site-theme="polaris"] {
    color-scheme: dark;
    --theme-background: 31,10,13;
    --theme-background-overlay-multiplier: 1;
    --theme-primary: 151,40,0;
    --theme-primary-overlay-multiplier: 1;
    --theme-surface: 41,17,14;
    --theme-surface-overlay-multiplier: 1;
    --theme-info: 231,129,13;
    --theme-info-overlay-multiplier: 2;
    --theme-accent: 179,80,0;
    --theme-accent-overlay-multiplier: 1;
    --theme-success: 72,106,43;
    --theme-success-overlay-multiplier: 1;
    --theme-surface-light: 119,52,33;
    --theme-surface-light-overlay-multiplier: 1;
    --theme-surface-bright: 255,167,82;
    --theme-surface-bright-overlay-multiplier: 2;
    --theme-surface-variant: 146,77,44;
    --theme-surface-variant-overlay-multiplier: 1;
    --theme-on-surface-variant: 255,255,255;
    --theme-primary-darken-1: 195,49,0;
    --theme-primary-darken-1-overlay-multiplier: 1;
    --theme-secondary: 172,25,0;
    --theme-secondary-overlay-multiplier: 1;
    --theme-secondary-darken-1: 138,22,0;
    --theme-secondary-darken-1-overlay-multiplier: 1;
    --theme-error: 255,85,85;
    --theme-error-overlay-multiplier: 2;
    --theme-warning: 255,167,38;
    --theme-warning-overlay-multiplier: 2;
    --theme-on-background: 255,255,255;
    --theme-on-primary: 255,255,255;
    --theme-on-surface: 255,255,255;
    --theme-on-info: 255,255,255;
    --theme-on-accent: 255,255,255;
    --theme-on-success: 255,255,255;
    --theme-on-surface-light: 255,255,255;
    --theme-on-surface-bright: 0,0,0;
    --theme-on-primary-darken-1: 255,255,255;
    --theme-on-secondary: 255,255,255;
    --theme-on-secondary-darken-1: 255,255,255;
    --theme-on-error: 255,255,255;
    --theme-on-warning: 0,0,0;
    --border-color: 255, 255, 255;
    --theme-kbd: 33, 37, 41;
    --theme-on-kbd: 255, 255, 255;
    --theme-code: 52, 52, 52;
    --theme-on-code: 204, 204, 204;
}
