@use '../../../styles/sass/mixins/' as *;

:root {}

.filter-list-block__form {
    margin-top: var(--space-24);

    .filters {
        display: flex;
        flex-direction: column;

        @include media-desktop {
            gap: var(--space-16);
        }
    }

    .filter {
        display: block;
        margin: 0;
        border: 0;
        padding: 0;

        &[aria-hidden='true'] {
            @include visually-hidden;
        }
    }

    .filter-input {
        position: relative;
        margin: var(--space-16) 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media-desktop {
            margin: var(--space-16) 0;
        }
    }

    .filter-input__quick-search {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: var(--space-16);
        padding-left: var(--space-16);
        border: 1px solid rgb(var(--border-color), 0.5);
    }

    input[type="text"] {
        margin: 0 var(--space-16);
        border-radius: var(--space-4);
        outline: none;
        border: none;
        width: 100%;
        font-weight: 400;
        font-size: var(--typography-bodytext-l);
        background: none;

        &::placeholder {
            color: var(--filter-input-placeholder-color);
            font-size: 14px;

            @include media-desktop {
                font-size: var(--typography-bodytext-l);
            }
        }

        &:focus {
            box-shadow: none;
        }
    }

    .filter__heading {
        font-weight: 500;
        font-size: var(--typography-bodytext-l);
        line-height: var(--typography-lineheight-140);
    }

    .search-icon {
        fill: currentColor;
    }
}
