@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /*{ "key":"--color-rgba-white", "value":"#FFFFFF", "name":"White" }*/
  --color-rgba-white: 255, 255, 255;
  /*{ "key":"--color-rgba-black", "value":"#000000", "name":"Black" "allowedInBlocks":"true" }*/
  --color-rgba-black: 0, 0, 0;
  /*{ "key":"--color-rgba-dark-gray", "value":"#323B4B", "name":"Black" "allowedInBlocks":"true" }*/
  --color-rgba-dark-gray: 50, 59, 75, 1;
  /*{ "key":"--color-rgba-gray", "value":"#D9D9D9", "name":"Gray", "allowedInBlocks":"true" }*/
  --color-rgba-gray: 217, 217, 217;
  /*{ "key":"--color-rgba-gray-dark", "value":"#666666", "name":"Gray dark", "allowedInBlocks":"true" }*/
  --color-rgba-gray-dark: 102, 102, 102;
  /*{ "key":"--color-rgba-gray-20", "value":"#FAFAFA", "name":"gray-20" }*/
  --color-rgba-gray-20: 250, 250, 250;
  /*{ "key":"--color-rgba-beige", "value":"#EBDED3", "name":"Beige", "allowedInBlocks":"true" }*/
  --color-rgba-beige: 235, 222, 211;
  /*{ "key":"--color-rgba-blue", "value":"#2666f1", "name":"Blue", "allowedInBlocks":"true" }*/
  --color-rgba-blue: 38, 102, 241;
  /*{ "key":"--color-rgba-red", "value":"#E3FF00", "name":"red", "allowedInBlocks":"true" }*/
  --color-rgba-red: 255, 0, 0;
  /*{ "key":"--color-rgba-yellow", "value":"#E3FF00", "name":"yellow", "allowedInBlocks":"true" }*/
  --color-rgba-yellow: 227, 255, 0;
  /*{ "key":"--color-rgba-green", "value":"#00FF00", "name":"green", "allowedInBlocks":"true" }*/
  --color-rgba-green: 0, 255, 0;
  /*{ "key":"--color-rgba-primary", "value":"#146e6e", "name":"Primary", "allowedInBlocks":"true" }*/
  --color-rgba-primary: 20, 110, 110;
}

:root {
  --space-4: 4px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-36: 36px;
  --space-40: 40px;
  --space-43: 43px;
  --space-48: 48px;
  --space-50: 50px;
  --space-52: 52px;
  --space-55: 55px;
  --space-60: 60px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --space-90: 90px;
  --space-100: 100px;
  --space-110: 110px;
  --space-120: 120px;
  --space-150: 150px;
}

:root {
  --font-family-body: "Inter", sans-serif;
  --font-family-heading: "Inter", sans-serif;
  --font-family-subheading: "Inter", sans-serif;
  --font-family-preamble: "Montserrat", sans-serif;
  --opacity-01: 0.1;
  --opacity-02: 0.2;
  --opacity-03: 0.3;
  --opacity-04: 0.4;
  --opacity-05: 0.5;
  --opacity-06: 0.6;
  --opacity-07: 0.7;
  --opacity-08: 0.8;
  --opacity-09: 0.9;
  --opacity-1: 1;
  --typography-bodytext-6xl: calc(4.8rem * 0.625);
  --typography-bodytext-5xl: calc(3.6rem * 0.625);
  --typography-bodytext-4xl: calc(3rem * 0.625);
  --typography-bodytext-3xl: calc(2.6rem * 0.625);
  --typography-bodytext-2xl: calc(2.4rem * 0.625);
  --typography-bodytext-xl: calc(2rem * 0.625);
  --typography-bodytext-l: calc(1.8rem * 0.625);
  --typography-bodytext-m: calc(1.6rem * 0.625);
  --typography-bodytext-s: calc(1.4rem * 0.625);
  --typography-bodytext-xs: calc(1.2rem * 0.625);
  --typography-bodytext-2xs: calc(1rem * 0.625);
}

:root {
  --container-width-3xl: 1776px;
  --container-width-2xl: 1512px;
  --container-width-xl: 1440px;
  --container-width-l: 1280px;
  --container-width-m: 1024px;
  --container-width-s: 768px;
}

.f-inter {
  font-family: "Inter", sans-serif;
}

.f-montserrat {
  font-family: "Montserrat", sans-serif;
}

html {
  line-height: 1.6;
  font-family: var(--font-family-body);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--typography-bodytext-m);
  line-height: 1.5;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: rgba(var(--color-rgba-gray-20));
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  color: currentColor;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: all 0.2s;
}
a::before {
  content: "";
  width: 0%;
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.2s;
  background: currentColor;
  border: 0;
  display: block;
}
@media (width >= 1024px) {
  a:hover::before {
    width: 100%;
  }
}
a.decoration-animation-none::before {
  display: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.preamble,
.preamble p {
  line-height: 1.5;
  font-size: var(--typography-bodytext-m);
}
.small {
  line-height: 1.5;
  font-size: var(--typography-bodytext-s);
}
.large {
  line-height: 1.3;
  font-size: var(--typography-bodytext-l);
}
.text {
  line-height: 1.5;
  font-size: var(--typography-bodytext-m);
}
@media (width >= 1024px) {
  .text {
    font-size: var(--typography-bodytext-l);
  }
}

.time {
  line-height: 1.5;
  font-size: var(--typography-bodytext-xs);
}
@media (width >= 1024px) {
  .time {
    font-size: var(--typography-bodytext-s);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

.h1 {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-family-heading);
  font-size: var(--typography-bodytext-4xl);
}
@media (width >= 1024px) {
  .h1 {
    letter-spacing: 0.2rem;
    font-size: var(--typography-bodytext-6xl);
  }
}

.h2 {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-family-heading);
  font-size: var(--typography-bodytext-3xl);
  letter-spacing: 0.1rem;
}
@media (width >= 1024px) {
  .h2 {
    font-size: var(--typography-bodytext-5xl);
  }
}

.h3 {
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--font-family-heading);
  font-size: var(--typography-bodytext-xl);
}
@media (width >= 1024px) {
  .h3 {
    font-size: var(--typography-bodytext-2xl);
  }
}

.h4 {
  font-weight: 400;
  line-height: 1.3;
  font-family: var(--font-family-heading);
  font-size: var(--typography-bodytext-l);
}
@media (width >= 1024px) {
  .h4 {
    line-height: 1.2;
    font-size: var(--typography-bodytext-xl);
  }
}

.h5 {
  font-weight: 300;
  line-height: 1.2;
  font-family: var(--font-family-heading);
  font-size: var(--typography-bodytext-l);
}
.h6 {
  font-weight: 300;
  line-height: 1.2;
  font-size: var(--typography-bodytext-m);
}
/* Do not import the individual grids in this file. It will cause them to be added twice to the markup */
[data-container-width=full] {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site-small] {
  max-width: var(--container-width-s);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site] {
  max-width: var(--container-width-xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site-large] {
  max-width: var(--container-width-2xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=site-big] {
  max-width: var(--container-width-3xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=bodytext] {
  max-width: var(--container-width-l);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header] {
  max-width: var(--container-width-xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header-large] {
  max-width: var(--container-width-2xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=header-big] {
  max-width: var(--container-width-3xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer] {
  max-width: var(--container-width-xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer-large] {
  max-width: var(--container-width-2xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

[data-container-width=footer-big] {
  max-width: var(--container-width-3xl);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*{ "key":"1-per-row", "value":"", "name":"one Per Row", "columns":1 }*/
[data-layout-smart="1-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

/*{ "key":"2-per-row", "value":"", "name":"two Per Row", "columns":2 }*/
[data-layout-smart="2-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}
@container (width >= 480px) {
  [data-layout-smart="2-per-row"] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}

/*{ "key":"3-per-row", "value":"", "name":"three Per Row", "columns":3 }*/
[data-layout-smart="3-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}
@container (width >= 480px) {
  [data-layout-smart="3-per-row"] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--space-32);
  }
}
@container (width >= 1024px) {
  [data-layout-smart="3-per-row"] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--space-50);
  }
}

/*{ "key":"4-per-row", "value":"", "name":"Four Per Row", "columns":4 }*/
[data-layout-smart="4-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}
@container (width >= 480px) {
  [data-layout-smart="4-per-row"] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}
@container (width >= 1024px) {
  [data-layout-smart="4-per-row"] {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
  }
}

/*{ "key":"5-per-row", "value":"", "name":"5 Per Row", "columns":5 }*/
[data-layout-smart="5-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}
@container (width >= 480px) {
  [data-layout-smart="5-per-row"] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }
}
@container (width >= 1024px) {
  [data-layout-smart="5-per-row"] {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
  }
}

/*{ "key":"6-per-row", "value":"", "name":"6 Per Row", "columns":6 }*/
[data-layout-smart="6-per-row"] {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}
@container (width >= 480px) {
  [data-layout-smart="6-per-row"] {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }
}
@container (width >= 600px) {
  [data-layout-smart="6-per-row"] {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
  }
}
@container (width >= 1024px) {
  [data-layout-smart="6-per-row"] {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 24px;
  }
}

*:has(> [data-layout-smart]) {
  container-type: inline-size;
}

.container-type {
  container-type: inline-size;
}

:root {
  --theme-default-background: 255,255,255;
  --theme-default-color-text: 0,0,0;
}

:root {
  --theme-background: 255,255,255;
  --theme-surface: 255,255,255;
  --theme-surface-bright: 250,250,250;
  --theme-surface-light: 238,238,238;
  --theme-surface-variant: 66,66,66;
  --theme-on-surface-variant: 238,238,238;
  --theme-primary: 24,103,192;
  --theme-primary-darken-1: 31,85,146;
  --theme-secondary: 92,187,246;
  --theme-secondary-darken-1: 1,135,134;
  --theme-error: 176,0,32;
  --theme-info: 33,150,243;
  --theme-success: 76,175,80;
  --theme-warning: 251,140,0;
  --theme-surface-variant-alt: 222,222,222;
  --theme-tertiary: 229,115,115;
  --theme-accent: 0,92,175;
  --theme-quaternary: 176,209,232;
  --theme-on-background: 0,0,0;
  --theme-on-surface: 0,0,0;
  --theme-on-surface-bright: 0,0,0;
  --theme-on-surface-light: 0,0,0;
  --theme-on-primary: 255,255,255;
  --theme-on-primary-darken-1: 255,255,255;
  --theme-on-secondary: 0,0,0;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-info: 255,255,255;
  --theme-on-success: 255,255,255;
  --theme-on-warning: 255,255,255;
  --theme-on-surface-variant-alt: 0,0,0;
  --theme-on-tertiary: 255,255,255;
  --theme-on-accent: 255,255,255;
  --theme-on-quaternary: 0,0,0;
  --theme-kbd: 33,37,41;
  --theme-on-kbd: 255,255,255;
  --theme-code: 245,245,245;
  --theme-on-code: 0,0,0;
  --border-color: 0,0,0;
}

:root {
  --theme-dark-background: 51,51,51;
  --theme-dark-color-text: 255,255,255;
}

[data-site-theme=dark] {
  color-scheme: dark;
  --theme-background: 51,51,51;
  --theme-surface: 33,33,33;
  --theme-surface-bright: 71,71,71;
  --theme-surface-light: 51,51,51;
  --theme-surface-variant: 163,163,163;
  --theme-on-surface-variant: 51,51,51;
  --theme-primary: 33,150,243;
  --theme-primary-darken-1: 39,124,193;
  --theme-secondary: 51,51,51;
  --theme-secondary-darken-1: 204,204,204;
  --theme-error: 207,102,121;
  --theme-info: 33,150,243;
  --theme-success: 204,204,204;
  --theme-warning: 255,64,129;
  --theme-surface-variant-alt: 51,51,51;
  --theme-tertiary: 207,102,121;
  --theme-accent: 255,64,129;
  --theme-quaternary: 176,209,232;
  --theme-on-background: 255,255,255;
  --theme-on-surface: 255,255,255;
  --theme-on-surface-bright: 255,255,255;
  --theme-on-surface-light: 255,255,255;
  --theme-on-primary: 255,255,255;
  --theme-on-primary-darken-1: 255,255,255;
  --theme-on-secondary: 255,255,255;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-info: 255,255,255;
  --theme-on-success: 255,255,255;
  --theme-on-warning: 255,255,255;
  --theme-on-surface-variant-alt: 255,255,255;
  --theme-on-tertiary: 255,255,255;
  --theme-on-accent: 255,255,255;
  --theme-on-quaternary: 33,33,33;
  --theme-kbd: 71,71,71;
  --theme-on-kbd: 255,255,255;
  --theme-code: 163,163,163;
  --theme-on-code: 204,204,204;
  --border-color: 255,255,255;
}

:root {
  --theme-light-background: 255,255,255;
  --theme-light-color-text: 0,0,0;
}

[data-site-theme=light] {
  color-scheme: normal;
  --theme-background: 255,255,255;
  --theme-surface: 255,255,255;
  --theme-surface-bright: 250,250,250;
  --theme-surface-light: 238,238,238;
  --theme-surface-variant: 66,66,66;
  --theme-on-surface-variant: 238,238,238;
  --theme-primary: 24,103,192;
  --theme-primary-darken-1: 31,85,146;
  --theme-secondary: 92,187,246;
  --theme-secondary-darken-1: 1,135,134;
  --theme-error: 176,0,32;
  --theme-info: 33,150,243;
  --theme-success: 76,175,80;
  --theme-warning: 251,140,0;
  --theme-surface-variant-alt: 222,222,222;
  --theme-tertiary: 229,115,115;
  --theme-accent: 0,92,175;
  --theme-quaternary: 176,209,232;
  --theme-on-background: 0,0,0;
  --theme-on-surface: 0,0,0;
  --theme-on-surface-bright: 0,0,0;
  --theme-on-surface-light: 0,0,0;
  --theme-on-primary: 255,255,255;
  --theme-on-primary-darken-1: 255,255,255;
  --theme-on-secondary: 0,0,0;
  --theme-on-secondary-darken-1: 255,255,255;
  --theme-on-error: 255,255,255;
  --theme-on-info: 255,255,255;
  --theme-on-success: 255,255,255;
  --theme-on-warning: 255,255,255;
  --theme-on-surface-variant-alt: 0,0,0;
  --theme-on-tertiary: 255,255,255;
  --theme-on-accent: 255,255,255;
  --theme-on-quaternary: 0,0,0;
  --theme-kbd: 33,37,41;
  --theme-on-kbd: 255,255,255;
  --theme-code: 245,245,245;
  --theme-on-code: 0,0,0;
  --border-color: 0,0,0;
}

[data-background-item=true] {
  background: rgb(var(--theme-background), 1);
  box-shadow: 0 4px 4px rgb(var(--theme-on-background), 0.1);
}

:root {
  --hero-start-block-background-color: #1F3A71;
}

[data-background] {
  background: rgb(var(--theme-default-background));
  color: rgb(var(--theme-default-color-text));
}

[data-background=default] {
  background: var(--hero-start-block-background-color);
  color: rgb(var(--theme-dark-color-text));
}

[data-background=primary-10] {
  background: #F2F7FA;
  color: rgb(var(--color-rgba-dark-gray));
}

[data-border-top=true] {
  border-top: 1px solid rgb(var(--border-color), 0.1);
  padding-top: var(--space-8);
}

.border-background {
  --border-color: var(--theme-background);
}

.border-surface {
  --border-color: var(--theme-surface);
}

.border-surface-bright {
  --border-color: var(--theme-surface-bright);
}

.border-surface-light {
  --border-color: var(--theme-surface-light);
}

.border-surface-variant {
  --border-color: var(--theme-surface-variant);
}

.border-primary {
  --border-color: var(--theme-primary);
}

.border-primary-darken-1 {
  --border-color: var(--theme-primary-darken-1);
}

.border-secondary {
  --border-color: var(--theme-secondary);
}

.border-secondary-darken-1 {
  --border-color: var(--theme-secondary-darken-1);
}

.border-error {
  --border-color: var(--theme-error);
}

.border-info {
  --border-color: var(--theme-info);
}

.border-success {
  --border-color: var(--theme-success);
}

.border-warning {
  --border-color: var(--theme-warning);
}

.border-surface-variant-alt {
  --border-color: var(--theme-surface-variant-alt);
}

.border-tertiary {
  --border-color: var(--theme-tertiary);
}

.border-accent {
  --border-color: var(--theme-accent);
}

.border-quaternary {
  --border-color: var(--theme-quaternary);
}

.text-background {
  color: rgb(var(--theme-background)) !important;
}

.text-surface {
  color: rgb(var(--theme-surface)) !important;
}

.text-surface-bright {
  color: rgb(var(--theme-surface-bright)) !important;
}

.text-surface-light {
  color: rgb(var(--theme-surface-light)) !important;
}

.text-surface-variant {
  color: rgb(var(--theme-surface-variant)) !important;
}

.text-primary {
  color: rgb(var(--theme-primary)) !important;
}

.text-primary-darken-1 {
  color: rgb(var(--theme-primary-darken-1)) !important;
}

.text-secondary {
  color: rgb(var(--theme-secondary)) !important;
}

.text-secondary-darken-1 {
  color: rgb(var(--theme-secondary-darken-1)) !important;
}

.text-error {
  color: rgb(var(--theme-error)) !important;
}

.text-info {
  color: rgb(var(--theme-info)) !important;
}

.text-success {
  color: rgb(var(--theme-success)) !important;
}

.text-warning {
  color: rgb(var(--theme-warning)) !important;
}

.text-surface-variant-alt {
  color: rgb(var(--theme-surface-variant-alt)) !important;
}

.text-tertiary {
  color: rgb(var(--theme-tertiary)) !important;
}

.text-accent {
  color: rgb(var(--theme-accent)) !important;
}

.text-quaternary {
  color: rgb(var(--theme-quaternary)) !important;
}

.on-background {
  color: rgb(var(--theme-on-background)) !important;
}

.on-surface {
  color: rgb(var(--theme-on-surface)) !important;
}

.on-surface-bright {
  color: rgb(var(--theme-on-surface-bright)) !important;
}

.on-surface-light {
  color: rgb(var(--theme-on-surface-light)) !important;
}

.on-surface-variant {
  color: rgb(var(--theme-on-surface-variant)) !important;
}

.on-primary {
  color: rgb(var(--theme-on-primary)) !important;
}

.on-primary-darken-1 {
  color: rgb(var(--theme-on-primary-darken-1)) !important;
}

.on-secondary {
  color: rgb(var(--theme-on-secondary)) !important;
}

.on-secondary-darken-1 {
  color: rgb(var(--theme-on-secondary-darken-1)) !important;
}

.on-error {
  color: rgb(var(--theme-on-error)) !important;
}

.on-info {
  color: rgb(var(--theme-on-info)) !important;
}

.on-success {
  color: rgb(var(--theme-on-success)) !important;
}

.on-warning {
  color: rgb(var(--theme-on-warning)) !important;
}

.on-surface-variant-alt {
  color: rgb(var(--theme-on-surface-variant-alt)) !important;
}

.on-tertiary {
  color: rgb(var(--theme-on-tertiary)) !important;
}

.on-accent {
  color: rgb(var(--theme-on-accent)) !important;
}

.on-quaternary {
  color: rgb(var(--theme-on-quaternary)) !important;
}

@keyframes background-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
:root {
  --button-border-width: 1px;
  --button-border-style: solid;
  --button-border-radius: 0;
  --button-padding: var(--space-12) var(--space-24);
  --button-font-weight: 400;
  --button-font-size: var(--typography-bodytext-m);
  --button-line-height: 1.5;
  --button-disabled-opacity: 0.4;
  --button-hover-background: var(--color-gray-300);
  --button-hover-color: var(--color-black);
}

.btn {
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: rgb(var(--button-background));
  border-radius: var(--button-border-radius);
  background: rgb(var(--button-background));
  padding: var(--button-padding);
  color: rgb(var(--button-text-color));
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  box-shadow: -5px 5px 0px 0px rgb(var(--button-shadow-background, --border-color), 0.6);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  letter-spacing: 0.05rem;
  text-decoration: none;
}
.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.btn:hover:not([disabled]):not(:focus), .btn:focus, .btn:disabled {
  transform: translate(-2px, 2px);
}

.button--primary {
  --button-background: var(--theme-primary);
  --button-text-color: var(--theme-on-primary);
  --button-shadow-background: var(--theme-primary);
}

.button--secondary {
  --button-background: var(--theme-secondary);
  --button-text-color: var(--theme-on-secondary);
  --button-shadow-background: var(--theme-secondary);
}

.button--tertiary {
  --button-background: var(--theme-tertiary);
  --button-text-color: var(--theme-on-tertiary);
  --button-shadow-background: var(--theme-secondary);
}

.button--info {
  --button-background: var(--theme-primary);
  --button-text-color: var(--theme-on-primary);
  --button-shadow-background: var(--theme-secondary);
}

.button--success {
  --button-background: var(--theme-primary);
  --button-text-color: var(--theme-on-primary);
  --button-shadow-background: var(--theme-secondary);
}

.button--accent {
  --button-background: var(--theme-accent);
  --button-text-color: var(--theme-on-accent);
  --button-shadow-background: var(--theme-secondary);
}

.button--error {
  --button-background: var(--theme-error);
  --button-text-color: var(--theme-on-error);
  --button-shadow-background: var(--theme-secondary);
}

.button--warning {
  --button-background: var(--theme-warning);
  --button-text-color: var(--theme-on-warning);
  --button-shadow-background: var(--theme-secondary);
}

.button--text {
  border: none;
  background: transparent;
  color: var(--button-background);
}

.button--outlined {
  --button-outlined-hover-background: var(--button-hover-background);
  --button-outlined-hover-color: var(--button-hover-color);
  --button-outlined-hover-border-color: var(--button-outlined-hover-background);
  background: transparent;
  color: var(--button-background);
}

.button--sm {
  --button-font-size: var(--font-size-small);
  --button-padding: var(--space-8) var(--space-16);
}

.button--icon {
  display: inline-flex;
  align-items: center;
  gap: var(--space-4);
}

.cta-button {
  display: inline-flex;
  align-items: center;
  gap: var(--space-12);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

*:has(> .btn) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-24);
}

*:has(> .icon-arrow-right) {
  display: inline-flex;
  align-items: center;
  gap: var(--space-12);
  font-weight: 500;
}
*:has(> .icon-arrow-right) .icon-arrow-right {
  position: relative;
  width: 32px;
  height: 12px;
  display: flex;
  align-items: center;
}
*:has(> .icon-arrow-right) .icon-arrow-right::after {
  content: "";
  display: block;
  position: absolute;
  right: 14px;
  flex-shrink: 0;
  transform: rotate(45deg);
  transition: all 0.2s;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  width: 8px;
  height: 8px;
}
*:has(> .icon-arrow-right) .icon-arrow-right::before {
  content: "";
  position: absolute;
  right: 14px;
  flex-shrink: 0;
  transition: all 0.2s;
  background: currentcolor;
  width: 18px;
  height: 2px;
}
*:has(> .icon-arrow-right):hover .icon-arrow-right::after, *:has(> .icon-arrow-right):hover .icon-arrow-right::before {
  right: 0;
}
*:has(> .icon-arrow-right):hover .icon-arrow-right::before {
  width: var(--space-32);
}

:root {
  --table-head-text-color: var(--color-white);
  --table-head-color: var(--color-gray-dark);
  --table-text-align: left;
  --table-padding: var(--space-12);
  --table-body-background-odd: var(--color-gray-superlight);
  --table-body-background-even: var(--color-white);
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: var(--table-text-align);
}

thead {
  background-color: var(--table-head-color);
  color: var(--table-head-text-color);
}

th,
td {
  padding: var(--table-padding);
}

tbody {
  background-color: var(--table-body-background-odd);
}

tbody tr:nth-child(even) {
  background-color: var(--table-body-background-even);
}

:root {
  --tag-font-size: var(--typography-label-s);
  --tag-text-color: var(--color-white);
  --tag-background-color: var(--color-gray-light);
  --tag-padding: var(--space-4) var(--space-8);
  --tag-primary-text-color: var(--color-white);
  --tag-primary-background-color: var(--color-brand-red);
  --tag-secondary-text-color: var(--color-white);
  --tag-secondary-background-color: var(--color-brand-green);
}

.tag {
  display: inline-block;
  background: var(--tag-background-color);
  padding: var(--tag-padding);
  color: var(--tag-text-color);
  font-size: var(--tag-font-size);
}
.tag[data-tag-appearance=primary] {
  background: var(--tag-primary-background-color);
  color: var(--tag-primary-text-color);
}
.tag[data-tag-appearance=secondary] {
  background: var(--tag-secondary-background-color);
  color: var(--tag-secondary-text-color);
}

/*This file contains the styles for the .freeText component, including
padding, text wrapping, and specific styles for paragraphs, links,
headings, lists, images, buttons, and blockquotes. It also includes
styles for custom quote and checklist elements.*/
.freetext {
  padding: var(--space-24);
  overflow-wrap: break-word;
}
.freetext p {
  margin-bottom: var(--space-24);
}
.freetext p:last-of-type {
  margin-bottom: 0;
}
.freetext a:not(.button) {
  font-weight: 500;
  text-decoration: underline;
  overflow-wrap: break-word;
}
.freetext a:not(.button):hover {
  color: var(--color-brand-green);
}
.freetext h2:not(:first-child),
.freetext h3:not(:first-child),
.freetext h4:not(:first-child),
.freetext .preamble:not(:first-of-type) {
  margin-top: var(--space-24);
}
@media (width >= 768px) {
  .freetext h2:not(:first-child),
  .freetext h3:not(:first-child),
  .freetext h4:not(:first-child),
  .freetext .preamble:not(:first-of-type) {
    margin-top: var(--space-48);
  }
}
.freetext ol,
.freetext ul {
  margin-bottom: var(--space-24);
}
@media (width >= 768px) {
  .freetext ol,
  .freetext ul {
    margin-bottom: var(--space-48);
  }
}
.freetext ol ol,
.freetext ol ul,
.freetext ul ol,
.freetext ul ul {
  margin-bottom: 0;
}
.freetext ul li,
.freetext ol li {
  padding: 0 0 var(--space-10) var(--space-4);
}
.freetext ul li:last-child,
.freetext ol li:last-child {
  padding-bottom: 0;
}
.freetext ol li {
  padding-left: var(--space-8);
}
.freetext figure.image,
.freetext img {
  margin: var(--space-24) 0;
}
@media (width >= 768px) {
  .freetext figure.image,
  .freetext img {
    margin: var(--space-48) 0;
  }
}
.freetext figure.image > img {
  margin: 0;
}
.freetext .button--link:hover {
  color: var(--color-brand-green);
}
.freetext em {
  font-style: italic;
}
.freetext strong {
  font-weight: bold;
}
.freetext code {
  font: revert;
  word-wrap: break-word;
}
.freetext .link-list-block {
  margin: var(--space-24) 0;
  color: var(--color-white);
}
.freetext blockquote {
  position: relative;
}
.freetext blockquote > p {
  margin-bottom: 0;
}
.freetext .green-quote {
  display: flex;
  position: relative;
  gap: var(--space-24);
  padding-bottom: var(--space-24);
  line-height: 1.5;
}
.freetext .green-quote p {
  flex: 1;
}
.freetext .green-quote::before {
  display: block;
  margin-top: var(--space-8);
  background: url("/Features/Layouts/Epinova/Assets/sprites/quote-green.svg");
  background-repeat: no-repeat;
  width: var(--space-40);
  height: var(--space-32);
  content: "";
}
.freetext .light-red-quote {
  display: flex;
  position: relative;
  gap: var(--space-24);
  padding-bottom: var(--space-24);
  line-height: 1.5;
}
.freetext .light-red-quote p {
  flex: 1;
}
.freetext .light-red-quote::before {
  display: block;
  margin-top: var(--space-8);
  background: url("/Features/Layouts/Epinova/Assets/sprites/quote-light-red.svg");
  background-repeat: no-repeat;
  width: var(--space-40);
  height: var(--space-32);
  content: "";
}
.freetext .yellow-quote {
  display: flex;
  position: relative;
  gap: var(--space-24);
  padding-bottom: var(--space-24);
  line-height: 1.5;
}
.freetext .yellow-quote p {
  flex: 1;
}
.freetext .yellow-quote::before {
  display: block;
  margin-top: var(--space-8);
  background: url("/Features/Layouts/Epinova/Assets/sprites/quote-yellow.svg");
  background-repeat: no-repeat;
  width: var(--space-40);
  height: var(--space-32);
  content: "";
}
.freetext .check-list {
  position: relative;
  list-style: none;
}
.freetext .check-list li {
  display: block;
}
.freetext .check-list li::before {
  position: absolute;
  left: 0;
  margin-top: var(--space-8);
  background: url("/Features/Layouts/Epinova/Assets/sprites/check-mark.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  content: "";
}

.border-b-gradient {
  border-bottom: 3px solid;
  border-image-source: linear-gradient(92.78deg, #F22540 0%, #FF7900 100%);
  border-image-slice: 1;
}

.bg-gradient {
  background: linear-gradient(92.78deg, #F22540 0%, #FF7900 100%);
}

.tex-gradient {
  background: linear-gradient(92.78deg, #F22540 0%, #FF7900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-arrow-r {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.after-arrow-r:after {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-top: 3px solid currentColor;
  border-right: 3px solid currentColor;
  transition: transform 0.3s;
  transform: translateX(-5px) rotate(45deg);
}

.before-dot-g {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.before-dot-g::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: linear-gradient(92.78deg, #F22540 0%, #FF7900 100%);
}

.before-line-top::before {
  content: "";
  display: block;
  width: 68px;
  height: 1px;
  background: currentColor;
}
.before-line-top.t-1::before {
  margin-top: 15px;
}

main {
  flex-grow: 1;
}

/*# sourceMappingURL=main.css.map */
