// This is file set container width for site

:root {
    --container-width-3xl: 1776px;
    --container-width-2xl: 1512px;
    --container-width-xl: 1440px;
    --container-width-l: 1200px;
    --container-width-m: 1024px;
    --container-width-s: 768px;
}
