// This file contains CSS custom properties for typography font sizes

:root {
    // Font family
    --font-family-body: 'IBM Plex Sans', sans-serif;
    --font-family-heading: 'Roboto', sans-serif;
    --font-family-subheading: 'IBM Plex Sans', sans-serif;
    --font-family-preamble: 'IBM Plex Sans', sans-serif;

    // opacity
    --opacity-01: 0.1;
    --opacity-02: 0.2;
    --opacity-03: 0.3;
    --opacity-04: 0.4;
    --opacity-05: 0.5;
    --opacity-06: 0.6;
    --opacity-07: 0.7;
    --opacity-08: 0.8;
    --opacity-09: 0.9;
    --opacity-1: 1;

    // Body text
    --typography-bodytext-2xl: 2.4rem;
    --typography-bodytext-xl: 2rem;
    --typography-bodytext-l: 1.8rem;
    --typography-bodytext-m: 1.6rem;
    --typography-bodytext-s: 1.4rem;
    --typography-bodytext-xs: 1.2rem;
    --typography-bodytext-2xs: 1rem;

    // Preamble
    --typography-preamble-2xl: 2.4rem;
    --typography-preamble-xl: 2rem;
    --typography-preamble-l: 1.8rem;
    --typography-preamble-m: 1.6rem;
    --typography-preamble-s: 1.4rem;
    --typography-preamble-xs: 1.2rem;
    --typography-preamble-2xs: 1rem;

    // Heading
    --typography-heading-2xl: 4.8rem;
    --typography-heading-xl: 3rem;
    --typography-heading-l: 2.6rem;
    --typography-heading-m: 2rem;
    --typography-heading-s: 1.8rem;
    --typography-heading-xs: 1.6rem;
    --typography-heading-2xs: 1.4rem;

}
