// This file contains CSS custom properties for typography font sizes

:root {
    // Font family
    --font-family-body: "Inter", sans-serif;
    --font-family-heading: "Inter", sans-serif;
    --font-family-subheading: "Inter", sans-serif;
    --font-family-preamble: "Montserrat", sans-serif;

    // opacity
    --opacity-01: 0.1;
    --opacity-02: 0.2;
    --opacity-03: 0.3;
    --opacity-04: 0.4;
    --opacity-05: 0.5;
    --opacity-06: 0.6;
    --opacity-07: 0.7;
    --opacity-08: 0.8;
    --opacity-09: 0.9;
    --opacity-1: 1;

    // Body text
    --typography-bodytext-6xl: calc(4.8rem * 0.625);
    --typography-bodytext-5xl: calc(3.6rem * 0.625);
    --typography-bodytext-4xl: calc(3rem * 0.625);
    --typography-bodytext-3xl: calc(2.6rem * 0.625);
    --typography-bodytext-2xl: calc(2.4rem * 0.625);
    --typography-bodytext-xl: calc(2rem * 0.625);
    --typography-bodytext-l: calc(1.8rem * 0.625);
    --typography-bodytext-m: calc(1.6rem * 0.625);
    --typography-bodytext-s: calc(1.4rem * 0.625);
    --typography-bodytext-xs: calc(1.2rem * 0.625);
    --typography-bodytext-2xs: calc(1rem * 0.625);
}
